.App {
    text-align: center;
}

#picture-1 {
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: beige;
    background-color: grey;
}

.indi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indi h3 {
    margin: 0px;
    /* margin-bottom: ; */
}
.indi:nth-child(1) {
    margin-top: 4px;
}
